mixin chart()
  mj-chart(
    padding='0'
    chs='600x250'
    cht='bvs'
    chd='t:87,10,80,15,80,5,13,17,90,20,88,20,98,30'
    chf='b0,s,cccccc'
    chtt='History'
    chts='343538,18'
    chg='0,20'
    chdl='delivered'
    chxt='y')/
