mj-head
  mj-title Picto

  mj-font(
    name='Open Sans'
    href='https://fonts.googleapis.com/css?family=Open+Sans:600,700')/

  mj-font(
    name='Roboto'
    href='https://fonts.googleapis.com/css?family=Roboto:400,500')/

  mj-style(inline='inline').
    a {
      text-decoration: none;
      color: inherit;
    }

    p {
      margin: 0;
      color: inherit;
    }

    .subtitle--image-section,
    .text--image-section,
    .text--feature {
      padding-right: 30px;
      padding-left: 30px;
    }

    .subtitle--image-section {
      padding-top: 36px;
    }

    .text--image-section,
    .text--feature {
      padding-bottom: 30px;
    }

    .image-half-section {
      border: 1px solid red;
    }
    
  mj-style.
    @media all and (min-width: 480px) {
      .logo {
        margin-bottom: 0 !important;
      }

      .header-link {
        text-align: right !important;
      }
      
      .subtitle--image-section-left,
      .text--image-section-left {
        padding-right: 80px !important;
      }

      .subtitle--image-section-right,
      .text--image-section-right {
        padding-left: 80px !important;
      }
    }

  mj-attributes
    mj-all(font-family='Robot, sans-serif')/
    mj-class(
      name='section'
      padding-right='30px'
      padding-left='30px'
      background-color='#fff')/
    mj-class(
      name='section--marginless'
      padding='0'
      padding-right='0'
      padding-left='0')/
    mj-class(
      name='image-half-section'
      width='270px'
      padding='0')/
    mj-class(
      name='subtitle'
      padding='0'
      padding-bottom='15px'
      color=darkColor
      font-weight='600'
      font-family='Open Sans, sans-serif'
      font-size='18px')/
