mixin social()
  mj-social(
    base-url=iconSocialPath
    border-radius='17px'
    color='#fff'
    display='twitter rss facebook pinterest google dribbble linkedin flickr'
    dribbble-content='Dribbble'
    dribbble-href='https://dribbble.com/'
    dribbble-icon-color=whiteColor
    dribbble-icon=iconSocialPath + 'dribbble.png'
    facebook-icon-color=whiteColor
    flickr-content='Flickr'
    flickr-href='https://www.flickr.com/'
    flickr-icon-color=whiteColor
    flickr-icon=iconSocialPath + 'flickr.png'
    google-icon-color=whiteColor
    icon-size='34px'
    inner-padding='5px'
    line-height='34px'
    linkedin-icon-color=whiteColor
    padding='0'
    padding-top='2px'
    pinterest-icon-color=whiteColor
    rss-content='RSS'
    rss-href='#x'
    rss-icon-color=whiteColor
    rss-icon=iconSocialPath + 'rss.png'
    text-mode='false'
    twitter-icon-color=whiteColor)/
