mixin text(text, align)
  mj-text(
    padding='0'
    align=align
    color=lightColor
    font-weight='500'
    font-family='Roboto, sans-serif'
    font-size='14px')
    p&attributes(attributes)!= text
