include blocks/variables.pug
include blocks/body.pug
include blocks/hero.pug

mjml
  include blocks/head.pug
  +body()
    mj-wrapper(background-color=headerBg, padding='0', full-width)
      mj-section(background-color=darkBg, padding='23px 27px')
        mj-column(width='40%')
          mj-text(
            color='#fff'
            font-family='Open Sans, sans-serif'
            font-size='42px'
            font-weight='700'
            text-transform='uppercase'
            padding-left='0')
            h1(style='font-size: inherit; margin: 0;') Picto
        mj-column(
          width='60%'
          vertical-align='bottom')
          mj-text(
            align='right'
            font-family='Roboto, sans-serif'
            font-size='14px'
            padding='0')
            span(style='font-size: inherit; color: #b3b3b3;') Having Trouble Viewing it? &nbsp;
            a(href='#x', style='font-size: inherit; color: #fff') View Online.
    +hero()
