include blocks/variables.pug
include blocks/body.pug
include blocks/section.pug
include blocks/subtitle.pug
include blocks/text.pug

mjml
  include blocks/head.pug
  +body()
    mj-wrapper(background-color=headerBg, padding='0', full-width)
      mj-section(background-color=darkColor, padding='23px 27px')
        mj-column(width='40%')
          mj-text(
            color='#fff'
            font-family='Open Sans, sans-serif'
            font-size='42px'
            font-weight='700'
            text-transform='uppercase'
            padding-left='0')
            h1.logo(style='font-size: inherit; margin-top: 0; margin-bottom: 10px;') Picto
        mj-column(
          width='60%'
          vertical-align='bottom')
          mj-text(
            font-family='Roboto, sans-serif'
            font-size='14px'
            padding='0')
            .header-link
              span(style='font-size: inherit; color: #b3b3b3;') Having Trouble Viewing it? &nbsp;
              a(href='#x', style='font-size: inherit; color: #fff') View Online.
    mj-section(
      padding='0')
      mj-image(
        padding='0'
        src=`${imagePath}hero.jpg`)
    +section()
      mj-column(width='100%')
        +subtitle('Main Blog Post Heading')
      mj-column(width='100%')
        +text('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis lectus at arcu egestas fringilla fermentum eget ipsum. Vestibulum hendrerit dignissim nunc vel volutpat. Nulla facilisi.')
    +section()
      mj-column(width='100%')
        +subtitle('Features')
    +section().section--image
      mj-column(
        vertical-align='middle'
        width='55%')
        +subtitle('Hitle Goes Here Hitle Goes Here Hitle Goes Here').subtitle--image-section.subtitle--image-section-left
        +text('Lorem ipsum dolor sit amet it sole consectetur adipiscing elit. Duis quis lectus at arcu egestas fringa fermentum eget.').text--image-section.text--image-section-left
      mj-column(
        vertical-align='middle'
        width='45%')
        mj-image(
          mj-class='image-half-section'
          src=`${imagePath}section1.jpg`)
    +section().section--image
      mj-column(
        vertical-align='middle'
        width='45%')
        mj-image(
          mj-class='image-half-section'
          src=`${imagePath}section2.jpg`)
      mj-column(
        vertical-align='middle'
        width='55%')
        +subtitle('Title Goes Here2').subtitle--image-section.subtitle--image-section-right
        +text('Lorem ipsum dolor sit amet it sole consectetur adipiscing elit. Duis quis lectus at arcu egestas fringa fermentum eget.').text--image-section.text--image-section-right
    +section()
      mj-column(width='100%')
        +subtitle('Our Work')
    +section()
      mj-column(width='100%')
        +subtitle('Title Goes Here3')
    +section()
      mj-column(width='100%')
        +subtitle('Check this Out!')
